.App {
  text-align: center;
}

.task {
  border: 1px solid black;
  width: 45%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 30px;
  background-color: #84A296;
  border-radius: 10px;
  font-family: 'Indie Flower', cursive;
}

.task.completed {
  text-decoration: line-through;
  background-color: #EAE6DA;
}